[package]
name = "clidrink"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33.3"
url = "2.2.2"
serde_json = "1.0.71"
serde = "1.0.130"
http = "0.2.5"

[dependencies.isahc]
version = "1.6.0"
features = ["json", "spnego"]
